@font-face {
  font-family: 'YekanBakh';
  src: url(../fonts/YekanBakh/Yekan\ Bakh\ EN\ 03\ Light.ttf);
}

@font-face {
  font-family: 'YekanBakh';
  src: url(../fonts/YekanBakh/Yekan\ Bakh\ EN\ 05\ Medium.ttf);
}

*,
body,
html {
  font-family: 'YekanBakh' !important;
  scroll-behavior: smooth !important;
}

:root {
  --gray: #ACACAC;
  --gray-100: rgb(137, 137, 137);
  --gray-200: rgb(218, 218, 218);
  --box-warrning: #FED215;
  --car: rgb(23, 23, 23);
  --icon-btn: rgb(100, 100, 100);
  --text-gray: rgb(100, 100, 100);
  --box-card-secondry: #626262;
  --text-in-secondry-warrning: #FEF403;
  --text-under-icon-sliders: #646464;
  --text-secondry-0-sliders: #646464;
  --text-secondry-1-sliders: #7E7E7E;
  --color-range-1: #FED215;
  --bg-price-card-range: #888888;
  --bg-secondry-card: #646464;
  --text-secondry-card: #646464;
  --bg-card-warning: #FED215;
  --text-card-warning: #FED215;

  --shadow: 0px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 0px 2px rgba(0, 0, 0, 0.15), inset 0px 0px 0px rgba(255, 256, 255, 0.38)b;
  /* --shadow-2: inset 0 4px 4px 0 rgba(255, 255, 255, 0.38), inset 0 -3px 2px 0 rgba(0, 0, 0, 0.15) */
  --shadow-2:
    0px 4px 5px rgba(0, 0, 0, .05), inset 0px -3px 2px rgba(0, 0, 0, .15), inset 0px 4px 4px rgba(255, 255, 255, .38)
}

.text-card-warning {
  color: var(--text-card-warning)
}

.bg-card-warning {
  background-color: var(--bg-card-warning);
}

.bg-secondry-card {
  background: var(--bg-secondry-card);
}

.text-secondry-card {
  color: var(--bg-secondry-card);
}

.text-gray {
  color: var(--text-gray);
}

.text-card-car-block {
  color: rgba(68, 68, 68, 1);
  font-weight: 200;
}

.text-card-car-small {
  font-size: 12px;
  font-weight: 200;
  color: white;
}

.text-secondry-0-slider {
  color: var(--text-secondry-0-sliders);
}

.text-secondry-1-slider {
  color: var(--text-secondry-1-sliders);
}

.bg-card-secondry {
  background-color: #626262;
}

.bg-card-car {
  background-color: rgba(142, 142, 142, 1);
}

.bg-price-card-range {
  background: var(--bg-price-card-range);
}

.bg-box-top-filter-car {
  background-color: #DADADA;
}

.box-filter-car {
  background-color: rgba(233, 233, 233, 1);
}

.bg-box-input-car {
  background-color: rgba(233, 233, 233, 1) !important;
}

.box-filter-car-text {
  color: rgb(137, 137, 137);
}

.select-none {
  user-select: none !important;
}

.pointer {
  cursor: pointer !important;
}

.rounded-left-4 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-right-4 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-top-4 {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.rounded-bottom-4 {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.card-secondry {
  background: #626262;
  box-shadow: inset 0px -6px 8px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(255, 255, 255, 0.38);
  border-radius: 10px;
  /* height: 430px; */
}


.rounded-4 {
  border-radius: 10px;
}

.bg-header {
  background-color: var(--gray);
  height: 127px;
}

.bg-box-sign,
.bg-box-language {
  background-color: var(--gray-200);

}

.box-warrning {
  background-color: var(--box-warrning);
}

.text-justify {
  text-align: justify;
}

.text-gray-100 {
  color: var(--gray-100) !important;
}

.text-warrning-in-box-secondry {
  color: var(--text-in-secondry-warrning);
}

.bg-car {
  background-color: var(--car);
}

.btn-icon-color {
  color: var(--icon-btn);
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;

}

.box-warrning .carousel-indicators {
  bottom: -85px !important;

}

.box-shadow {
  box-shadow: var(--shadow);

}

.box-shadow-2 {
  box-shadow: var(--shadow-2);

}

.footer {
  box-shadow: inset 0px -6px 8px rgb(0 0 0 / 15%), inset 0px 6px 8px rgb(88 88 88 / 38%);
}

.box-rotate-in-secondry {

  border: 20px solid white;
  background: #FED215;
  box-shadow: inset 0px -2px 8px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(255, 255, 255, 0.38);
  border-radius: 5px;
  transform: rotate(45deg);
  position: relative;
  top: -46px
}

.box-rotate-in-secondry div {
  width: 48px;
  height: 48px;
}

.header-image {
  margin-top: 2% !important;
}

.header-image-svg {
  margin-bottom: 8%;
}

.carousel-item img {
  /* height: 250px; */
  width: 90%;
  object-fit: cover;
  object-position: center;
}

.height-slider-content {
  height: calc(100vh - 300px);
}


@media(max-width: 991px) {

  .page7 .content-tab {
    margin-top: -12rem !important;
    padding: 0 !important;
  }

  .page9 .content-tab {
    margin-top: -9rem !important;
    padding: 0 !important;
  }
  .page9 .box-warning-header{
    height: 160px !important;
  }
  .page9 .button-header-info {
    justify-content: start !important;
    margin: 5px 0 !important;

  }

  .page9 .text-header-info {
    margin: 5px 0 !important;
  }
  .page7 .box-warning-header {
    height: 310px !important;
  }

  .page7 .parent-button-tab ul li {
    width: 50%;
  }

  .page7 .parent-button-tab ul li button {
    width: 80%;
  }

  .parent-img img {
    height: 250px !important;
  }

  .page7 .button-header-info {
    justify-content: start !important;
    margin: 5px 0 !important;

  }

  .page7 .text-header-info {
    margin: 5px 0 !important;
  }
}


/* ----------------- */


@media (max-width:768px) {
  .parent-img img {
    height: 200px !important;
  }

  .height-slider-content {
    height: 100% !important;
  }

  .page3 .carousel-inner {
    margin-top: 20px !important;
  }

  .page7 .content-tab {
    margin-top: 0rem !important;
    padding: 0 !important;
  }
  .page9 .content-tab {
    margin-top: -1rem !important;
    padding: 0 !important;
  }

  .page9 .box-warning-header {
    height: 280px !important;
  }
  .page7 .box-warning-header {
    height: 535px !important;
  }

  .page9 .text-header-info {
    font-size: 16px !important;
    margin: 10px 0 !important;
  }

  .page9 .button-header-info {
    justify-content: start !important;
    margin: 10px 0 !important;

  }
  .page7 .text-header-info {
    font-size: 16px !important;
    margin: 10px 0 !important;
  }

  .page7 .button-header-info {
    justify-content: start !important;
    margin: 10px 0 !important;

  }

  .page7 .button-filter-content {
    padding: 20px 0 !important
  }

  .page7 .button-filter-content div {
    width: 82% !important;
  }

  .page7 .btn.active {
    background: var(--bg-secondry-card) !important;
    color: #FED215;
  }

  html[dir='ltr'] .page7 .btn.active::after {
    border-left: 13px solid whitesmoke !important;
    left: -1% !important;
    border-radius: 4px;
  }

  html[dir='rtl'] .page7 .btn.active::after {
    border-right: 13px solid whitesmoke !important;

    right: -1% !important;
    border-radius: 4px;
  }

  .page7 .parent-button-tab {
    padding: 0 8px !important;
  }

  .page7 .parent-button-tab ul {
    flex-direction: column !important;
    margin-bottom: unset !important;
  }

  .page7 .parent-button-tab ul li button {
    width: 100% !important;
  }

  .page7 .parent-button-tab ul li {
    width: 100% !important;
  }

  .page7 .parent-button-tab {
    margin-top: 10px !important;
  }

}

html[dir='ltr'] .slider-bottom-header-warrning {
  /* height: 230px; */
  width: 300px;
  top: 12%;
  right: 0% !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.slider-bottom-header-warrning h1 {
  position: relative;
  top: 14px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: rgba(66, 66, 66, 1);
}

html[dir='rtl'] .slider-bottom-header-warrning {
  height: 230px;
  width: 300px;
  top: 12%;
  left: 0% !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.input-search,
.input-search1 {
  border: none;
}
html[dir='ltr']  .input-search1{
  text-align: left;
  border-radius: 10px !important;
  padding: 10px;
  /* box-shadow: var(--shadow-2) !important; */
  background-color: var(--gray-200);
  color: white;
  position: relative;
  z-index: 10;
  padding-right: 60px !important;
  padding-left: 20px !important;
}
html[dir='rtl']  .input-search1{
  text-align: right;

  border-radius: 10px !important;
  padding: 10px;
  /* box-shadow: var(--shadow-2) !important; */
  background-color: var(--gray-200);
  color: white;
  position: relative;
  z-index: 10;
  padding-left: 60px !important;
  padding-right: 20px !important;
}
.input-search1:focus{
  background-color: var(--gray-200) !important;
box-shadow: none;
}

html[dir='rtl'] .input-search {
  text-align: right;

  border-radius: 10px !important;
  padding: 10px;
  box-shadow: var(--shadow-2) !important;
  position: relative;
  z-index: 10;
  padding-left: 60px !important;
  padding-right: 20px !important;

}
.input-search1::placeholder{
  color: var(--gray-100);
}
.input-search::placeholder  {
  color: rgba(184, 184, 184, 0.49);
}

html[dir='ltr'] .input-search {
  text-align: left;

  border-radius: 10px !important;
  padding: 10px;
  box-shadow: var(--shadow-2) !important;
  position: relative;
  z-index: 10;
  padding-right: 60px !important;
  padding-left: 20px !important;
}


html[dir='rtl'] .input-search-btn {
  top: -4%;
  left: 2%;
  height: 100%;
  position: absolute;
  border: none;
  outline: none;
  outline-offset: none;
  z-index: 11 !important;
  background: inherit;

}

html[dir='ltr'] .input-search-btn {
  top: -4%;
  right: 2%;
  height: 100%;
  position: absolute;
  border: none;
  outline: none;
  outline-offset: none;
  z-index: 11 !important;
  background: inherit;
}

.input-search-btn:active,
.input-search-btn:focus,
.input-search-btn:hover {
  outline: none !important;
  outline-offset: none !important;
  border: none !important;
  box-shadow: none !important;
}

.slider-bottom-header-img {
  width: calc(100% - 300px);
  height: 100%;
}

.slider-bottom-header-img img {
  object-fit: contain;
}

html[dir='ltr'] .slider-bottom-header-img {
  margin-left: 2.5%
}

html[dir='rtl'] .slider-bottom-header-img {
  margin-right: 2.5%
}

.btn-group-left-slider::after {
  content: '';
  width: 80%;
  height: 3px;
  background-color: var(--gray);
  position: absolute;
  bottom: -1px;
  left: 10%;
  border-radius: 4px;
  transition: 0.5s !important;

}

.btn-group-left-slider {
  transition: 0.5s !important;
}

html[dir='rtl'] .btn-group-vertical .nav-link.active::before {
  content: '';
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 13px solid red;
  border-bottom: 7px solid transparent;
  position: absolute;
  top: 35%;
  right: -2%;
  border-radius: 4px;
}

html[dir='ltr'] .btn-group-vertical .nav-link.active::before {
  content: '';
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 13px solid red;
  border-bottom: 7px solid transparent;
  position: absolute;
  top: 35%;
  left: -2%;
  border-radius: 4px;
  /* transition: 0.5s !important; */
}

html[dir='ltr'] .border-card-car-row {
  border-right: 3px solid #f8f9fa !important;
}

html[dir='rtl'] .border-card-car-row {
  border-left: 3px solid #f8f9fa !important;
}

.btn-group-vertical .nav-link {
  color: #000;

}

.btn-group-vertical .nav-link.active {
  background-color: white;
  border-color: white;
  color: #000;
  outline: white;
}

.btn-group-vertical .btn:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.btn-group-vertical>.btn-group:not(:first-child),
.btn-group-vertical>.btn:not(:first-child) {
  margin: 0 !important;
}

@media(max-width: 768px) {
  .bg-header {
    height: 137% !important;
    padding: 10px 0 20px 0 !important;
  }

  .header-image-svg {
    margin-bottom: 0% !important;
  }
}

@media(max-width: 1100px) {
  .parent-table{
    width: 100%;
    overflow-x: auto;
  }
  .parent-table table{
    width:1035px;
  }
  .header-image-svg {
    margin-bottom: 0px !important;
  }

  .bg-header {
    height: 100% !important;
    padding: 10px 0 20px 0 !important;
  }

  .btn-row-coulmn {
    width: 40% !important
  }

  .card-next-prev-btn {
    width: 60% !important;
  }

  .carousel-indicators {
    width: 50%;
  }

  #carouselExampleIndicatorss .carousel-indicators {
    width: unset !important;
  }





  .box-warrning {
    /* display: none !important; */
    border-radius: 10px !important;
    border-top-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
    position: relative !important;
    top: -20px !important;
    left: 0 !important;
    width: 100% !important;
    border-top-left-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }

  .box-warrning .carousel-indicators {
    bottom: -21px !important;


  }

  .slider-bottom-header-img {
    width: 100% !important;
  }
}

@media(max-width: 768px) {
  .btn-row-coulmn {
    width: 50% !important
  }

  .card-next-prev-btn {
    width: 50% !important;
  }
}


#shortcut-slider .carousel-control-next,
#shortcut-slider .carousel-control-prev,
#brand-slider .carousel-control-next,
#brand-slider .carousel-control-prev,
#brand-slider-2 .carousel-control-next,
#brand-slider-2 .carousel-control-prev,
#sliderCarDetails .carousel-control-next,
#sliderCarDetails .carousel-control-prev {

  top: unset !important;
  /* bottom: -50px !important; */
  width: 80px;
  position: static !important;
  background: var(--gray);
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(255, 255, 255, 0.38);
  border-radius: 500px;
}


.carousel {
  direction: ltr !important;
}

.brand-slider-2-box h3 {
  color: rgba(0, 149, 255, 1);
}

.brand-slider-2-box h3 {
  font-size: 22px;
}

.brand-slider-2-box p {
  font-size: 18px;
}

html[dir='rtl'] .brand-slider-2-box {
  text-align: right;
}

html[dir='ltr'] .brand-slider-2-box {
  text-align: right;
}

.card-next-prev {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.card-next-prev-btn {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#shortcut-slider .carousel-indicators,
#brand-slider .carousel-indicators {
  top: unset !important;
  /* bottom: -60px !important; */
  position: static !important;
}

.card-next-prev-btn {
  width: 75%;
}

.brand-box {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-box {
  width: 180px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-box a,
.brand-box a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text-under-icon-sliders);
}

.brand-box img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* range */
.r-slider {
  margin-top: 40px;
  height: 5px;
  border-radius: 5px;
  /* background-color: #BBB; */
  position: relative;
}

.r-slider .r-progress {
  height: 5px;
  /* left: 25%;
  right: 25%; */
  position: absolute;
  border-radius: 5px;
  background-color: var(--color-range-1);



}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
}

.range-button-min,
.range-button-max {
  position: absolute;
  margin: 12px 0;
  user-select: none !important;
  background: none;
  pointer-events: none;
  color: #fff;
}


.range-input input[type="range"] {
  cursor: ew-resize !important;
}

.range-input input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: var(--color-range-1);
  border: 2px solid white;
}

.range-input input[type="range"]::-moz-slider-thumb {
  pointer-events: auto;
  border: none;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -moz-appearance: none;
  background-color: var(--color-range-1);

}

.input-style-price {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  outline: none !important;
  outline-offset: none !important;
  background: none !important;
  text-align: center;
}

.btn-row-coulmn {
  display: flex;
  align-items: center;
}

.btn-row-coulmn {
  bottom: -3px !important;
  right: 0px !important;
  justify-content: end;

}

/* 
html[dir='ltr'] .btn-row-coulmn {
  bottom: -3px !important;
  right: 0px !important;
  justify-content: end;

} */

/* html[dir='rtl'] .btn-row-coulmn {
  bottom: -3px !important;
  left: 0px !important;
  justify-content: end;

} */

.brand-style .nav-link.active {
  background-color: var(--box-warrning);
}

.brand-style .nav-link {
  background-color: rgba(179, 179, 179, 0.63);

}

[id *='switch'] {

  cursor: pointer !important;
}

[id *='switch'].form-check-input:checked,
[id *='switch'].form-check-input:focus {
  background-color: #4FAE5E !important;
  border-color: #4FAE5E !important;
}

[id *='switch'] .form-check-input:focus {
  background-image: none !important;
}

[id *='switch'].form-check-input:focus {
  box-shadow: none !important;
}

html[dir='lrt'] .accordion-button::after {
  position: absolute;
  left: 20px;

}

html[dir='rtl'] .accordion-button::after {
  position: absolute !important;
  left: 20px !important;

}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: var(--color-range-1);
}

html[dir='ltr'] .btn-rounded-left-4 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

html[dir='ltr'] .btn-rounded-right-4 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

html[dir='rtl'] .btn-rounded-left-4 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

html[dir='rtl'] .btn-rounded-right-4 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

html[dir='rtl'] #row-grid .bg-card-car-img {
  border-right: 8px solid white;
}

html[dir='ltr'] #row-grid .bg-card-car-img {
  border-left: 8px solid white;
}

#sliderCarDetails .carousel-indicators {
  position: static !important;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  width: 100%;

}

#sliderCarDetails .carousel-indicators button {
  position: relative;
  display: block !important;
  width: 100% !important;
  height: 119px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px !important;
  margin: unset !important;
  border: unset !important;

}

#sliderCarDetails .carousel-indicators button:not(:nth-last-child(1)) {
  margin-bottom: 10px !important;

}

#sliderCarDetails .carousel-indicators button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px !important;
}

#sliderCarDetails .carousel-indicators [data-bs-target] {
  border-radius: 10px !important;
}

#sliderCarDetails .carousel-inner img {
  height: 380px !important;
  /* width: 100% !important; */
  object-fit: cover;
  object-position: center center;
  /* background: #CDCDCC; */
  border-radius: 10px !important;

}

#sliderCarDetails .carousel-indicators [data-bs-target] {
  background-color: #CDCDCC;
  opacity: 1 !important;

}

#sliderCarDetails .carousel-indicators .active {
  /* position: absolute; */
  background-color: #CDCDCC !important;
  width: 100% !important;
  /* height: 100% !important; */
  opacity: 0.6 !important;
}


/*  */
#sliderCarDetails .carousel-indicators button img {
  display: block;
}

#sliderCarDetails .carousel-indicators button.active #over_img {
  position: absolute;
  z-index: 1000000;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(250, 250, 250, 0.3);
  align-items: center;
}


.form-check-input:checked {
  background-color: #FED215;
  border-color: #FED215;
}

.form-check-input:focus {
  box-shadow: none;
  border-color: #FED215
}


html[dir='rtl'] .divider_in_page3_card_price {
  margin-left: 18px;
}

html[dir='ltr'] .divider_in_page3_card_price {
  margin-right: 18px;
}


html[dir='ltr'] .card-setUp-ltr {
  flex-direction: row-reverse !important;

}

input[type='text'],
input[type='password'],
input[type='email'] {
  direction: ltr !important;
}

.page6 button {
  outline: none !important;
}

.page6 .nav-tabs .nav-item.show .nav-link,
.page6 .nav-tabs .nav-link.active {
  border-color: #FED215;
  background: #FED215 !important;
  color: #212529 !important;
}

.page6 .nav-link.active {
  background-color: var(--bg-card-warning) !important;
  color: #212529 !important;
}

.page6 .input-group {
  direction: ltr;
}

.page6 .nav-tabs .nav-link {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.page7 .nav-link.active {
  color: var(--text-card-warning) !important;
  background: var(--bg-secondry-card) !important;
  border-radius: 10px !important;
  box-shadow: var(--shadow-2);
  padding: 10px 30px;

}

.page7 .nav-link {
  color: #fff !important;
  background: var(--bg-secondry-card) !important;
  border-radius: 10px !important;
  box-shadow: var(--shadow-2);
  padding: 10px 30px;

}

.page7 .btn {
  position: relative;
}

html[dir='ltr'] .page7 .btn.active::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 13px solid red;
  border-bottom: 7px solid transparent;
  position: absolute;
  top: 35%;
  left: -2%;
  border-radius: 4px;



}

html[dir='rtl'] .page7 .btn.active::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 13px solid red;
  border-bottom: 7px solid transparent;
  position: absolute;
  top: 28%;
  right: -2%;
  border-radius: 4px;



}

.subject-card {
  position: absolute;
  height: 32px;
  width: 147px;
  top: 25px;
  left: -44px;
  z-index: 2;
  transform: rotate(-50deg);
}
.subject-card::after{
  content: '';
  position: absolute;
 background-color: #c2a216;
  height: 14px;
  width: 10px;
  top: 22px;
  left: 8px;
  transform: rotate(-40deg) translateY(1px) translateX(0px);
  /* box-shadow: var(--shadow-2); */

}.subject-card::before{
  content: '';
  position: absolute;
 background-color: #c2a216;
  height: 14px;
  width: 10px;
  top: 22px;
  right: 8px;
  transform: rotate(-40deg) translateY(1px) translateX(0px);
  /* box-shadow: var(--shadow-2); */

}
.subject-card .subject-card-text{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FED215;
  z-index: 2;
font-size: 12px;
  text-align: center;
  padding: 8px;
  color: #000;
}



.page8 button:focus{
  box-shadow: none;
}
.page8 .button-filter-table{
  background-color: var(--gray-200);
  color: var(--gray-100);
}

.page8 .button-filter-table.active{
  background-color: var(--box-card-secondry);
color: white;
}

html[dir='ltr'] .page8 table thead tr th:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
} html[dir='ltr'] .page8 table thead tr th:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} 

html[dir='rtl'] .page8 table thead tr th:first-child{

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} html[dir='rtl'] .page8 table thead tr th:last-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
} 